// Base styles
:root {
  --scroll-bar-width: 0px;
}

:root,
body {
  margin: 0;
  background: $body-bg;
  color: $body-color;
  font-family: $font-family-sans-serif;
}

body {
  font-size: $font-size-sm;
  line-height: $line-height-sm;

  font-size: clamp(
    #{$font-size-sm * 0.8},
    calc(#{$font-size-sm * 0.8} + 2vw),
    $font-size-sm
  );

  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
    line-height: $line-height-base;

    font-size: clamp(
      #{$font-size-sm},
      calc(#{$font-size-sm} + 2vw),
      $font-size-base
    );
  }

  @include media-breakpoint-up(xxxl) {
    font-size: $font-size-lg;
    line-height: $line-height-lg;

    font-size: clamp(
      #{$font-size-base},
      calc(#{$font-size-base} + 2vw),
      $font-size-lg
    );
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  background-color: transparent;
  color: $headings-color;

  @include media-breakpoint-up(md) {
    line-height: $headings-line-height * 1.1;
  }
}

h1 {
  font-size: $h1-font-size * 0.444;
  font-weight: $font-weight-bold;
  line-height: $headings-line-height;
  letter-spacing: -0.04rem;

  font-size: clamp(
    #{$h1-font-size * 0.333},
    calc(#{$h1-font-size * 0.333} + 2vw),
    $h1-font-size
  );

  @include media-breakpoint-up(md) {
    letter-spacing: -0.12rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: clamp(
      #{$h1-font-size * 0.333},
      calc(#{$h1-font-size * 0.55} + 2vw),
      $h1-font-size
    );
  }
}

h2 {
  font-size: $h2-font-size * 0.444;
  background-color: transparent;
  color: $blue-dark-color;
  letter-spacing: -0.12rem;

  font-size: clamp(
    #{$h2-font-size * 0.333},
    calc(#{$h2-font-size * 0.4} + 2vw),
    $h2-font-size
  );

  @include media-breakpoint-up(md) {
    letter-spacing: -0.12rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: clamp(
      #{$h2-font-size * 0.333},
      calc(#{$h2-font-size * 0.5} + 2vw),
      $h2-font-size * 0.889
    );
  }
}

h3 {
  font-size: $h3-font-size;
  letter-spacing: -0.06rem;

  font-size: clamp(
    #{$h3-font-size * 0.5},
    calc(#{$h3-font-size * 0.333} + 2vw),
    #{$h3-font-size * 0.667}
  );

  @include media-breakpoint-up(md) {
    letter-spacing: -0.06rem;
  }
}

h4 {
  font-size: $h4-font-size;
  letter-spacing: -0.06rem;
}

h5 {
  font-size: $h5-font-size;
  letter-spacing: -0.06rem;
}

h6 {
  font-size: $h6-font-size;
  letter-spacing: -0.06rem;
}

p {
  margin: 0 0 $spacer;

  &:last-child {
    margin-bottom: 0;
  }

  &.subtitle {
    @extend h3;

    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
}

a {
  &:link,
  &:visited,
  &:active {
    text-decoration: $link-decoration;
    background-color: transparent;
    color: $link-color;
    transition: color 0.3s;
  }

  &:hover {
    background-color: transparent;
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.container {
  @include container();

  box-sizing: border-box;
  padding-left: $spacer * 1.25;
  padding-right: $spacer * 1.25;

  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.button,
a.button {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  font-family: $btn-font-family;
  font-size: $btn-font-size * 0.8667;
  font-weight: $btn-font-weight * 0.9;
  line-height: $btn-line-height;
  background-color: $btn-bg-color;
  color: $btn-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  border: $btn-border-width solid $btn-border-color;
  @include border-radius($btn-border-radius);
  transition: $btn-transition;

  &:hover {
    background-color: lighten($btn-bg-color, 15%);
    color: lighten($btn-color, 15%);
    border-color: lighten($btn-border-color, 15%);
    box-shadow: $btn-box-shadow;
  }

  &.secondary {
    background-color: $btn-secondary-bg-color;
    color: $btn-secondary-color;
    border-color: $btn-secondary-border-color;

    &:hover {
      background-color: lighten($btn-secondary-bg-color, 20%);
      color: lighten($btn-secondary-color, 20%);
      border-color: lighten($btn-secondary-border-color, 20%);
    }
  }

  @include media-breakpoint-up(md) {
    font-size: $btn-font-size;
  }
}

.icon {
  display: inline-block;
  width: 2.875rem; // 34px
  height: 2.875rem; // 34px
  background-color: $primary-color;
  mask-size: cover;
}
