// Layout styles

// Main wrapper
.wrapper {
  // display: flex;
  // flex-direction: column;
  min-height: 80vh;
}

// Header
.wrapper > header {
  background-color: $orange-color;
  color: $white;
  padding: $spacer 0;
}

// Sections
section {
  &.hero {
    min-height: 100vh;
    // TODO: use variable instead of hardcoded rgba()
    background-color: transparent;
    background-image: linear-gradient(to bottom, $orange-color 0%, rgba(249, 245, 242, 0.5));
    color: $white;

    header {
      h1 {
        margin: 0 0 1rem;
      }

      .hero-subtitle {
        margin: 0 0 1rem;
        font-family: $headings-font-family;
      }
    }
  }

  &.slider {
    .section-container {
      @extend .container;
    }

    .glider-container {
      width: 100%; // Full width
      margin: 0 auto; // Centered
    }
  }

  &.accordion {

  }

  &.toolkit {
    background-image: linear-gradient(to bottom, $blue-dark-color, #0a1930);
    color: $white;

    h2 {
      background-color: transparent;
      color: $white;
    }

    ul.tools {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 0 0 $spacer;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Footer
.wrapper > footer {
  padding: $spacer * 3 0;
  background-color: $black;
  color: $white;

  .footer-bottom {
    text-align: right;

    p {
      margin: 0;
    }
  }
}
