/*

--tdcc-header-1-section: #183d76;


--tdcc-btn-bg-default: #183d76;
--tdcc-btn-bg-outline: rgba(24, 61, 118, 0.12);
--tdcc-btn-bg-disabled: rgba(24, 61, 118, 0.4);
--tdcc-btn-bg-outline-disabled: rgba(24, 61, 118, 0.12);
*/

// Colors
$white:                  #ffffff !default;
$black:                  #000000 !default;

$bg-color:               $white !default;
$bg-color-alt:           #f9f5f2 !default;
$bg-color-grey:          #eceae9 !default;
$bg-color-dark:          #183d7666 !default;
$primary-color:          #676767 !default;
$secondary-color:        #f9f5f2 !default;
$orange-color:           #f39122 !default;
$blue-light-color:       #00afd9 !default;
$purple-color:           #512e8a !default;
$blue-dark-color:        #183d76 !default;
$blue-extra-dark-color:  #0a1930 !default;
$gray-color:             #d8d8d8 !default;

// Options
$enable-rounded:              true !default; // Enable rounded corners
$enable-button-pointers:      true !default; // Enable pointer cursor on buttons

// Spacing
$spacer:                      1rem !default;

// Body
$body-color:                  $primary-color !default;
$body-bg:                     $bg-color-alt !default;

// Typography
$font-family-sans-serif:      system-ui, -apple-system, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-alt:  "DM Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-monospace:       Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-base:              1.5rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;
$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2.5 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base * 1.1 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacer * .5 !default;
$headings-font-family:        $font-family-sans-serif-alt !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

// Links
$link-color:                  $blue-dark-color !default;
$link-decoration:             underline !default;
$link-hover-color:            $blue-dark-color !default;
$link-hover-decoration:       null !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

// Border
$border-width:                1px !default;
$border-radius:               .625rem !default;
$border-radius-sm:            .25rem !default;
$border-radius-lg:            .5rem !default;
$border-radius-xl:            1rem !default;
$border-radius-xxl:           2rem !default;

// Shadows
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;

// Transitions
$transition-base:             all .3s ease-in-out !default;

// Buttons + Forms
$input-btn-padding-y:         .5rem !default;
$input-btn-padding-x:         3rem !default;
$input-btn-font-family:       $font-family-sans-serif-alt !default;
$input-btn-font-size:         $font-size-base !default;
$input-btn-line-height:       $line-height-base !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-font-size-sm:      $font-size-sm !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;
$input-btn-font-size-lg:      $font-size-lg !default;

$input-btn-border-width:      $border-width !default;

$input-transition:            border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Buttons
$btn-bg-color:                $blue-dark-color !default;
$btn-color:                   $white !default;
$btn-secondary-bg-color:      $white !default;
$btn-secondary-color:         $blue-dark-color !default;
$btn-secondary-border-color:  $blue-dark-color !default;
$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-font-family:             $input-btn-font-family !default;
$btn-font-size:               $input-btn-font-size !default;
$btn-line-height:             $input-btn-line-height !default;
$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-font-size-sm:            $input-btn-font-size-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-font-size-lg:            $input-btn-font-size-lg !default;

$btn-border-width:            $input-btn-border-width !default;
$btn-border-color:            $blue-dark-color !default;

$btn-font-weight:             $font-weight-normal !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-border-radius:           $border-radius !default;
$btn-border-radius-sm:        $border-radius-sm !default;
$btn-border-radius-lg:        $border-radius-lg !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
