<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/glider.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <script src="{{ "/assets/js/glider.min.js" | relative_url }}" defer></script>
    <script src="{{ "/assets/js/index.js" | relative_url }}" defer></script>
    <link rel="icon" type="image/png" href="{{ "/assets/img/favicon/favicon-96x96.png" | relative_url }}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{{ "/assets/img/favicon/favicon.svg" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/favicon/apple-touch-icon.png" | relative_url }}">
    <meta name="apple-mobile-web-app-title" content="SS-NES">
    <link rel="manifest" href="{{ "/assets/img/favicon/site.webmanifest" | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}

      <main>
        {% include hero.html %}
        {% include slider.html %}
        {% include accordion.html %}
        {% include toolkit.html %}
        {% include projects.html %}

        {{ content }}
      </main>

      {% include footer.html %}
    </div>
  </body>
</html>
