// Hero section
section.hero {
  position: relative;
  background-color: transparent;
  background-image: linear-gradient(to bottom, $hero-gradient-color1 0%, $hero-gradient-color2);
  color: $white;
  overflow-x: hidden;

  // Hero decoration image (background)
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(160%,-7%);
    z-index: 1;
    width: 40%;
    height: 80%;
    background: transparent url('/assets/img/header-bg/hero-shape-bg.svg') no-repeat center center;
    background-size: 100% 100%;
    max-height: 80vh;
    opacity: 0.2;
  }

  // Hero decoration image (foreground)
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(140%,17%);
    z-index: 1;
    width: 40%;
    height: 80%;
    background: transparent url('/assets/img/header-bg/hero-shape-fg.svg') no-repeat center center;
    background-size: 100% 100%;
    max-height: 80vh;
  }

  header,
  .hero-text {
    z-index: 2;
    width: 60%;
  }

  header {
    h1 {
      margin: 0 0 $headings-margin-bottom;
      letter-spacing: -0.12rem;
      line-height: 125%;
    }

    .hero-subtitle {
      margin: 0;
      // font-family: $headings-font-family;
      font-size: $h1-font-size * 0.55;
      font-weight: $font-weight-semibold;
      line-height: $line-height-base;
    }
  }

  .hero-text {
    margin: 3rem 0;
    font-size: $h1-font-size * 0.44;
    font-weight: $font-weight-semibold;
  }

  .hero-buttons {
    .button {
      margin-left: $spacer;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
