// Hero section
section.hero {
  position: relative;
  background-color: transparent;
  background-image: linear-gradient(to bottom, $hero-gradient-color1 0%, $hero-gradient-color2);
  color: $white;
  overflow-x: hidden;
  padding-top: $spacer * 2;

  // Hero decoration image (background)
  &:before {
    @include media-breakpoint-up(md) {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(160%,-20%);
      z-index: 1;
      width: 40%;
      height: 80%;
      background: transparent url('/assets/img/header-bg/hero-shape-bg.svg') no-repeat center center;
      background-size: 100% 100%;
      max-height: 80vh;
      opacity: 0.2;
    }

    @include media-breakpoint-up(lg) {
      transform: translate(160%,-7%);
    }
  }

  // Hero decoration image (foreground)
  &:after {
    @include media-breakpoint-up(md) {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(140%,0%);
      z-index: 2;
      width: 40%;
      height: 80%;
      background: transparent url('/assets/img/header-bg/hero-shape-fg.svg') no-repeat center center;
      background-size: 100% 100%;
      max-height: 80vh;
    }

    @include media-breakpoint-up(lg) {
      transform: translate(140%,17%);
    }
  }

  .container {
    position: relative;
    z-index: 3; // Ensure container is above background images
  }

  header,
  .hero-text {
    @include media-breakpoint-up(md) {
      max-width: 60%;
    }
  }

  header {
    h1 {
      margin: 0 0 $headings-margin-bottom;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

    .hero-subtitle {
      margin: 0;
      // font-family: $headings-font-family;
      font-size: $h1-font-size * 0.55;
      font-weight: $font-weight-semibold;
      line-height: $line-height-base;
    }
  }

  .hero-text {
    margin: $spacer * 1.875 0;
    font-weight: $font-weight-semibold;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin: $spacer * 3.75 0;
      text-align: left;
    }
  }

  .hero-buttons {
    .button {
      margin-left: $spacer;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
