// Projects section
section.projects {
  background-color: $bg-color-alt;
  color: $primary-color;

  ul.projects-container {
    display: flex;
    flex-direction: column;
    gap: $spacer * 2;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include media-breakpoint-up(lg) {
      gap: $spacer * 3;
    }

    li.project-item {
      margin: 0;
      padding: $spacer * 2;
      background-color: $white;
      color: $primary-color;
      border-radius: $border-radius * 3;

      @include media-breakpoint-up(md) {
        padding: $spacer * 3;
      }

      header img {
        display: inline-block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
