// Slider section
section.slider {
  .glider-contain {
    // Full width
    width: 100vw;
    max-width: calc(100vw - var(--scroll-bar-width));
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  .glider {
    scrollbar-width: none;
    overflow-x: hidden;
  }

  .slider-buttons {
    display: none;
  }

  .slider-dots {
    margin-top: $spacer;
  }

  .slide {
    box-sizing: border-box;
    margin-right: $spacer * 3;
    padding: $spacer * 3;
    background-color: $white;
    color: $primary-color;
    border-radius: $border-radius;

    &:first-child {
      margin-left: $spacer * 3;
    }

    &:last-child {
      margin-right: $spacer * 1.5;
    }

    .slide-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      column-gap: $spacer * 2;
      height: 100%;
    }

    .slide-image {
      max-width: 40%;
      height: 100%;
      align-self: flex-start;
      border-radius: $border-radius;
      overflow: hidden;

      img {
        max-width: auto;
        height: 100%;
        object-fit: cover;
      }
    }

    .slide-content {
      max-width: 50%;
      align-self: center;
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
}
