// Slider section
section.slider {
  .glider-contain {
    // Full width
    width: 100vw;
    max-width: calc(100vw - var(--scroll-bar-width));
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  .glider {
    scrollbar-width: none;
    overflow-x: hidden;
  }

  .glider-dots {
    margin-left: auto;
    margin-right: auto;
    max-width: 6rem;
    border-radius: $border-radius * 2;
    background-color: $bg-color-alt;
    color: $gray-color;
  }

  .glider-dot {
    width: 1rem;
    height: 1rem;
    background-color: $link-color;
    opacity: 0.3;

    &.active {
      opacity: 1;
    }
  }

  .slider-buttons {
    display: none;
  }

  .slider-dots {
    margin-top: $spacer;
    margin-bottom: 0;
    position: sticky;
    bottom: $spacer;

    @include media-breakpoint-up(xxl) {
      position: relative;
      bottom: auto;
    }
  }

  .slide {
    align-self: stretch;
    box-sizing: border-box;
    margin-right: $spacer * 2;
    padding: $spacer;
    background-color: $white;
    color: $primary-color;
    border-radius: $border-radius;

    @include media-breakpoint-up(md) {
      height: 100%;
      margin-right: $spacer * 3;
      padding: $spacer * 3;
    }

    &:first-child {
      margin-left: $spacer;

      @include media-breakpoint-up(md) {
        margin-left: $spacer * 3;
      }
    }

    &:last-child {
      margin-right: $spacer;

      @include media-breakpoint-up(md) {
        margin-right: $spacer * 1.5;
      }
    }

    .slide-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $spacer;
      height: 100%;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        gap: $spacer * 2;
      }
    }

    .slide-image {
      max-width: none;
      width: 100%;
      align-self: flex-start;
      border-radius: $border-radius;
      overflow: hidden;

      @include media-breakpoint-up(md) {
        max-width: 40%;
        height: 100%;
      }

      img {
        max-width: 100%;
        width: 100%;
        height: auto;

        @include media-breakpoint-up(md) {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .slide-content {
      @include media-breakpoint-up(md) {
        max-width: 50%;
        align-self: center;
      }
    }
  }
}
