// Toolkit section
section.toolkit {
  padding: $spacer * 6 0 $spacer * 10;
  background-image: linear-gradient(to bottom, $blue-dark-color, $blue-extra-dark-color);
  color: $white;

  h2 {
    background-color: transparent;
    color: $white;
  }

  .container > header .subtitle {
    margin-bottom: $spacer * 3;
  }

  ul.tools {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0 0 $spacer;
      padding: 6.25rem 6.25rem 6.25rem 2.5rem;
      background-color: $white;
      color: $primary-color;
      border-radius: $border-radius * 3;

      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: $spacer * 3;

      &:last-child {
        margin-bottom: 0;
      }

      header {
        min-width: 25%;
        text-align: center;
      }

      .tool-content {
        align-self: center;
      }

      .tool-summary {
        font-size: $font-size-base;
      }

      .tool-link {
        display: inline-block;
        margin-top: $spacer * 2;
        font-size: $font-size-base;
        white-space: nowrap;
      }
    }
  }
}
