// Toolkit section
section.toolkit {
  padding: $spacer * 6 0 $spacer * 10;
  background-image: linear-gradient(to bottom, $blue-dark-color, $blue-extra-dark-color);
  color: $white;

  h2 {
    background-color: transparent;
    color: $white;
  }

  .container > header .subtitle {
    margin-bottom: $spacer * 3;
  }

  ul.tools {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0 0 $spacer;
      padding: $spacer * 2.5;
      background-color: $white;
      color: $primary-color;
      border-radius: $border-radius * 3;

      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: $spacer * 3;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        column-gap: $spacer * 3;
        padding: $spacer * 6.25;
        padding-left: $spacer * 2.5;
      }

      &:last-child {
        margin-bottom: 0;
      }

      header {
        min-width: 25%;
        text-align: center;

        .tool-icon {
          display: inline-block;
          margin-bottom: $spacer * 0.5;
        }
      }

      .tool-content {
        align-self: center;
        text-align: center;

        @include media-breakpoint-up(md) {
          text-align: left;
        }
      }

      .tool-summary {
        text-align: left;
      }

      .tool-link {
        display: inline-block;
        margin-top: $spacer * 2;
        white-space: nowrap;
      }
    }
  }
}
